# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Node
node_modules/

# Build files
dist/
build/

# Database files
*.db
*.sqlite
*.sqlite3